
.fa-list {
  color: blue;
  padding: 0 20px;
  font-size: 2rem;
}

.fa-trash-alt {
  color: red;
  padding: 0 10px;
  font-size: 2rem;
}

.MuiAvatar-colorDefault {
  color: cornflowerblue !important;
  background-color: lightpink !important;
}
